
.landing-page ul
{
    list-style-type: none;
}

.landing-page ul li p.h4{
    line-height: 1.5;
}

.landing-page .starter-template {
    padding: 10px 15px;
    text-align: center;
}

.landing-page .starter-template .summary{
    margin: 30px 0;
}

.landing-page .starter-template .page-header{
    margin: 0;
}

.landing-page .section .row{
    margin: 50px 0;
}

.landing-page section.editing-tools img{
    display: block;
    margin: 20px auto;
    max-width: 250px;
    max-height: 8em;
    width: auto;
    height: auto;
}

.landing-page section.editing-tools p{
    width: 45%;
    margin: 20px auto;
}

.landing-page .grid-border-container .col-md-4{
    padding: 25px;
}

.landing-page .grid-border-container img{
    max-width: 200px;
    margin-bottom: 20px;
}

.landing-page footer{
    margin: 30px 0;
}

.landing-page .modal-header, .landing-page .modal-footer{
    background: none;
}

@media(min-width:320px) and (max-width:992px){}
